.sectionCountCards {
    margin-top: 40px;

    &__title {
        font-family: 'Roboto-regular';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(25, 25, 25, 0.5);
    }
}