.sectionCards {
    &__container {
        margin-top: 40px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;

        @media (max-width: 600px) {
            display: flex;
            justify-content: center;
        }
    }
}