.ObjectRegistry {
    padding: 40px 0;

    @media (max-width: 900px) {
        padding: 20px 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 900px) {
            flex-direction: column;
        }
    }

    &__title {
        max-width: 470px;
        margin-right: 20px;
        font-family: 'Heuristica-regular';
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #264576;

        @media (max-width: 900px) {
            margin-right: 0;
            text-align: center;
        }

        @media (max-width: 520px) {
            max-width: 360px;
            font-size: 15px;
            line-height: 20px;
        }

        @media (max-width: 400px) {
            max-width: 320px;
            font-size: 13px;
            line-height: 18px;
        }

        @media (max-width: 350px) {
            max-width: 290px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__search {
        width: 400px;
        height: 40px;
        padding: 0 16px;
        max-width: 100%;
        background-image: url('../../assets/images/common/search.svg');
        background-repeat: no-repeat;
        background-position: top 50% right 16px;

        @media (max-width: 900px) {
            margin-top: 10px;
        }

        @media (max-width: 520px) {
            height: 35px;
            width: 290px;
        }

        @media (max-width: 400px) {
            height: 30px;
            width: 250px;
        }

        &::placeholder {
            font-family: 'Roboto-regular';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #8791AA;
        }
    }
}