.sectionPagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &__button {
        width: 60px;
        height: 35px;
        border: 0.5px solid rgba(25, 25, 25, 0.24);
        border-radius: 20px;
        background-color: transparent;
        cursor: pointer;
    }

    &__button_buttonPrev {
        margin-right: 16px;
    }

    &__button_buttonNext {
        margin-left: 16px;
    }

    &__arrowPagePrev {
        transform: rotate(180deg);
    }

    &__pageItem {
        width: 35px;
        height: 35px;

        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: 'Roboto-regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8791AA;
        background-color: rgba(25, 25, 25, 0.08);
        border-radius: 20px;
    }

    &__link_current {
        background-color: #fff;
        color: #264576;
        box-shadow: 0px 4px 7px rgba(100, 177, 252, 0.3);
    }

    &__list {
        display: flex;
    }
}